.header {
  background: #121a3e;
  width: 100%;
  padding: 0.5rem;
  height: 66.5px;
  display: flex;
  align-items: center;
}

.header_sticky {
  background: transparent;
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.logo {
  color: white;
  text-decoration: none;
  display: flex;
}

.main-navigation {
  list-style-type: none;
  display: inherit;
  padding: 5px;
  margin: 0 0 0 auto;
}

.main-navigation__link {
  color: white;
  text-decoration: none;
  padding: 5px;
}
